<h1>Your Product List</h1>
Add More Products Here!
<form action="/products/new" method="get">
   <button type="submit"> Add Products </button>
</form>

{{#each products}}
  <div class="newProduct">
    Product Name: {{name}}
    <br>
    Price: ${{price}}
    <br>
    Inventory: {{inventory}}
    <br>
    <form action="/products/{{id}}/edit" method="get">
     <button type="submit"> Wanna Edit Me?</button>
    </form>
    <form action="/products/{{id}}/delete" method="get">
     <button type="submit"> Wanna Delete Me?</button>
    </form>
  </div>
{{/each}}

